<div class="alert alert-danger" style="margin-bottom: 200px;">
	<p><strong>ATENCIÓN:</strong></p>
	<p>No encontramos jugadores que coincidan con tu consulta. Por favor, revisá si no tipeaste mal.</p>
	</br>
</div>