<div class="container">
	<!-- Fila que contiene el header -->
	<div class="row">
		<div class="page-header">
			<h1>Crear jugador</h1>
		</div>
	</div>

	<%= render 'form' %>

	<%= link_to 'Back', jugador_index_path, class: "btn btn-default" %>
</div>