<div class="container">
	<!-- Fila que contiene el header -->
	<div class="row">
		<div class="page-header">
		  <h1>Búsqueda por similitud</h1>
		</div>
	</div>	
	<%= form_for(@jugador_consulta, url: jugador_search_by_similarity_attributes_path, html: {class: "form-horizontal"}) do |f| %>
		<!-- Renderizo el partial que contiene todas las opciones de búsqueda -->
		<%= render partial: "form_fields", locals: {f: f} %>
		<!-- Fila que contiene el botón de búsqueda por similitud -->
		<div class="row">
			<div class="col-xs-offset-8">
				<%= f.submit "Buscar por similitud!", class: 'btn btn-success btn-lg'%>
			</div>
		</div>
	<% end %>
</div>