// Place all the styles related to the jugador controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables y todo el código detallado antes del import sobreescribe el de Bootstrap:

// ejemplo de variables:
//$navbar-default-bg: #312312;
//$light-orange: #ff8c00;
//$navbar-default-color: $light-orange;

// Seteo esta variable para hacer que las navbar sean no-responsive
$grid-float-breakpoint: 0px; 

// Import bootstraps scss
@import "bootstrap";

// Seteo el width de los .container para que sean no-responsive
.container {
	width: 769px !important;
}

// SASS here

// Clase footer, para definición del footer
.footer { 
  height: 60px;
}

// Clase no-float, para que los elementos no floten (y se pueda centrarlos, por ej.)
.no-float { 
  float:none;
}

// Clase para iconos grandes
.icon-size-large {
	font-size:20px;
}

// Clase para agregar un margen inferior previo al footer (usar en páginas de muy poca height)
.margen-inferior-footer {
	margin-bottom: 200px;
}

// Clase para que los botones en las cabeceras de los paneles de accordions sean clickeables
// (y no abran y cierren el accordion)
.accordion-toggle { display: inline; }