// Place all the styles related to the jugador controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Variables y todo el código detallado antes del import sobreescribe el de Bootstrap:

// ejemplo de variables:
//$navbar-default-bg: #312312;
//$light-orange: #ff8c00;
//$navbar-default-color: $light-orange;

// Agrego padding abajo para que el footer no tape el contenido de las páginas
body { 
	padding-bottom: 70px;
}

// Import bootstraps scss
@import "bootstrap";

// SASS here

// Clase footer, para definición del footer
.footer { 
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

// Clase no-float, para que los elementos no floten (y se pueda centrarlos, por ej.)
.no-float { 
  float:none;
}

// Clase para iconos grandes
.icon-size-large {
	font-size:20px;
}